Repository smapiot/piral, pull requests merged in 2020-12, with the labels that each got.

#340 Update 20-migrate-app.md
  docs/tutorials/20-migrate-app.md
Labels: documentation

#343 Update gen-plugins.js
  src/pages/docs/src/codegen/gen-plugins.js
Labels: documentation, enhancement

#344 Adding `feed` parameter to `piral debug`
  CHANGELOG.md
  src/tooling/piral-cli/src/apps/debug-pilet.ts
  src/tooling/piral-cli/src/commands.ts
  src/tooling/piral-cli/src/injectors/pilet.test.ts
  src/tooling/piral-cli/src/injectors/pilet.ts
Labels: cli, enhancement

#346 Add userStore as an optional OidcConfig property
  src/plugins/piral-oidc/src/setup.ts
  src/plugins/piral-oidc/src/types.ts
Labels: auth, plugin

#342 Peer dependencies need to be valid as well. Fixes #341
  CHANGELOG.md
  src/tooling/piral-cli/src/common/package.ts
  src/tooling/piral-cli/src/rules/pilet-has-externals-as-peers.spec.ts
  src/tooling/piral-cli/src/rules/pilet-has-externals-as-peers.ts
Labels: bug, cli

#348 FIX Webpack5 HMR bug
  src/tooling/piral-cli-webpack5/package.json
  src/tooling/piral-cli-webpack5/src/configs/HotModuleServerPlugin.ts
  src/tooling/piral-cli-webpack5/src/configs/common.ts
  src/tooling/piral-cli-webpack5/src/webpack-hot-middleware/LICENSE
  src/tooling/piral-cli-webpack5/src/webpack-hot-middleware/client-overlay.js
  src/tooling/piral-cli-webpack5/src/webpack-hot-middleware/client.js
  src/tooling/piral-cli-webpack5/src/webpack-hot-middleware/helpers.js
  src/tooling/piral-cli-webpack5/src/webpack-hot-middleware/middleware.js
  src/tooling/piral-cli-webpack5/src/webpack-hot-middleware/process-update.js
Labels: cli, webpack

#351 User experience improvement
  src/pages/docs/src/styles/_layout.scss
Labels: documentation
