Repository smapiot/piral, pull requests merged in 2020-07, with the labels that each got.

#262 Fixed a typo in code example of the piral-ng plugin documentation
  src/converters/piral-ng/README.md
Labels: documentation

#263 Also filter out things like "@scope/redux-saga/effects"
  src/tooling/piral-cli/src/common/package.ts
Labels: bug, cli

#261 Quote CLI arguments which contain whitespaces
  src/tooling/piral-cli/src/common/scripts.ts
Labels: bug, cli

#265 Added new tests
  CHANGELOG.md
  src/converters/piral-blazor/package.json
  src/converters/piral-ng/src/bootstrap.ts
  src/framework/piral-base/src/fetch.test.ts
  src/framework/piral-base/src/strategies.test.ts
  src/framework/piral-core/src/actions/portal.test.ts
  src/framework/piral-core/src/components/DefaultLayout.test.tsx
  src/framework/piral-core/src/helpers.tsx
  src/tooling/piral-cli/src/apps/debug-pilet.ts
  src/tooling/piral-cli/src/apps/debug-piral.ts
  src/tooling/piral-cli/src/apps/pack-pilet.test.ts
  src/tooling/piral-cli/src/bundler.test.ts
  src/tooling/piral-cli/src/common/package.ts
  src/tooling/piral-cli/src/common/scripts.ts
  yarn.lock
Labels: core, enhancement

#266 Enhanced Unit tests for pilet loading strategies
  src/framework/piral-base/src/strategies.test.ts
  src/framework/piral-base/src/strategies.ts
Labels: core, enhancement

#267 Added new tests
  src/framework/piral-core/src/components/Mediator.test.tsx
  src/framework/piral-core/src/utils/foreign.test.ts
Labels: core, enhancement

#268 Improved test coverage in piral-core and piral-base
  src/framework/piral-base/src/strategies.test.ts
  src/framework/piral-core/src/helpers.test.tsx
Labels: core, enhancement

#269 Improved test coverage in framework module
  src/framework/piral-core/src/helpers.test.tsx
Labels: core, enhancement

#272 Added tests for piral-core/state/src/withApi
  src/framework/piral-core/src/state/withApi.test.tsx
Labels: core, enhancement

#270 WIP: return absolute path for pilet link in emulator environment
  src/tooling/piral-cli/src/apps/debug-pilet.ts
  src/tooling/piral-cli/src/injectors/pilet.ts
Labels: cli, enhancement

#271 Improved test coverage of piral-cli injectors
  src/tooling/piral-cli/src/injectors/pilet.test.ts
  src/tooling/piral-cli/src/injectors/pilet.ts
  src/tooling/piral-cli/src/injectors/piral.test.ts
  src/tooling/piral-cli/src/injectors/piral.ts
Labels: cli, enhancement

#274 Support https
  src/tooling/piral-cli/src/injectors/pilet.ts
Labels: cli, enhancement

#278 Added test for piral-cli npm
  src/tooling/piral-cli/src/common/npm.test.ts
Labels: cli, enhancement

#281 Improve test coverage + code documentation
  src/framework/piral-core/src/helpers.test.tsx
  src/tooling/piral-cli/src/apps/build-pilet.ts
  src/tooling/piral-cli/src/apps/build-piral.ts
  src/tooling/piral-cli/src/apps/new-pilet.test.ts
  src/tooling/piral-cli/src/apps/new-pilet.ts
  src/tooling/piral-cli/src/apps/new-piral.ts
Labels: cli, enhancement

#279 support post piral build lifecycle hooks
  src/tooling/piral-cli/src/apps/build-piral.ts
  src/tooling/piral-cli/src/common/package.ts
Labels: cli, enhancement, in-implementation

#282 Improved documentation
  docs/messages/0041.md
  docs/messages/0042.md
  docs/messages/0043.md
  docs/messages/0052.md
  docs/messages/0053.md
  docs/messages/0072.md
  docs/messages/0073.md
  docs/messages/0074.md
  docs/messages/0080.md
  docs/messages/0081.md
  docs/messages/0082.md
  docs/reference/README.md
  docs/reference/debug.md
  docs/reference/scaffolding.md
  docs/tools/vscode-piral.md
  src/pages/docs/src/codegen/gen-types.js
Labels: documentation, enhancement

#284 Added tests for Piral CLI for components archive and http
  src/tooling/piral-cli/src/common/archive.test.ts
  src/tooling/piral-cli/src/common/http.test.ts
Labels: cli, enhancement

#285 add mechanism to inject emulator piletApi config
  docs/specs/cli-specification.md
  src/framework/piral-core/src/helpers.test.tsx
  src/framework/piral-core/src/helpers.tsx
  src/tooling/piral-cli/src/common/envs.test.ts
  src/tooling/piral-cli/src/common/envs.ts
  src/tooling/piral-cli/src/injectors/pilet.ts
Labels: cli, core, enhancement

#286 manually construct value for piletApi
  src/tooling/piral-cli/src/injectors/pilet.ts
Labels: bug, cli

#287 Reviewed Reference Documentations and Specifications
  docs/features.md
  docs/history.md
  docs/introduction.md
  docs/reference/architecture.md
  docs/reference/bundlers.md
  docs/reference/debug.md
  docs/reference/errors.md
  docs/reference/metadata.md
  docs/reference/migration.md
  docs/reference/scaffolding.md
  docs/specs/cli-specification.md
  docs/specs/feed-api-specification.md
  docs/specs/pilet-specification.md
Labels: bug, documentation

#288 Added new tests for Piral CLI common modules
  src/tooling/piral-cli/src/common/browser.test.ts
  src/tooling/piral-cli/src/common/interactive.test.ts
  src/tooling/piral-cli/src/common/pack.test.ts
  src/tooling/piral-cli/src/common/patches.test.ts
  src/tooling/piral-cli/src/common/port.test.ts
  src/tooling/piral-cli/src/common/rules.test.ts
Labels: cli, enhancement

#290 Added tests for package module of Piral CLI
  src/tooling/piral-cli/src/common/package.test.ts
Labels: cli, enhancement

#295 Updated Types Documentation
  src/framework/piral/src/hydrate.tsx
  src/framework/piral/src/render.tsx
  src/framework/piral/src/run.tsx
  src/framework/piral/src/types/options.ts
  src/utilities/piral-ssr-utils/src/config.ts
  src/utilities/piral-ssr-utils/src/types.ts
  src/utilities/piral-systemjs-utils/src/index.ts
Labels: declaration, documentation, enhancement

#296 #294: allow upload of any pilet size via piral-cli
  CHANGELOG.md
  src/tooling/piral-cli/src/common/http.ts
Labels: cli, enhancement
