Repository smapiot/piral, pull requests merged in 2021-05, with the labels that each got.

#380 Update README.md
  src/utilities/piral-jest-utils/README.md
Labels: documentation, plugin

#381 Set NODE_ENV to 'development' consistently for piral debug run
  src/tooling/piral-cli-parcel/src/parcel/run-debug-mono-piral.ts
  src/tooling/piral-cli-webpack/src/webpack/run-debug-mono-piral.ts
  src/tooling/piral-cli-webpack5/src/webpack/run-debug-mono-piral.ts
Labels: bug, cli, parcel, webpack

#382 Replaced node-sass with sass
  CHANGELOG.md
  src/tooling/piral-cli-webpack/package.json
  src/tooling/piral-cli-webpack5/package.json
  yarn.lock
Labels: cli, dependencies, webpack

#383 fix: Missing loaderConfig
  src/framework/piral-core/src/helpers.tsx
Labels: bug, core
