Repository smapiot/piral, pull requests merged in 2021-04, with the labels that each got.

#377 Replaced SheetLoader with SheetPlugin
  CHANGELOG.md
  src/tooling/piral-cli-webpack/package.json
  src/tooling/piral-cli-webpack/src/configs/SheetLoader.ts
  src/tooling/piral-cli-webpack/src/configs/SheetPlugin.ts
  src/tooling/piral-cli-webpack/src/configs/common.ts
  src/tooling/piral-cli-webpack/src/configs/pilet.ts
  src/tooling/piral-cli-webpack/src/configs/piral.ts
  src/tooling/piral-cli-webpack5/package.json
  src/tooling/piral-cli-webpack5/src/configs/SheetLoader.ts
  src/tooling/piral-cli-webpack5/src/configs/SheetPlugin.ts
  src/tooling/piral-cli-webpack5/src/configs/common.ts
  src/tooling/piral-cli-webpack5/src/configs/pilet.ts
  src/tooling/piral-cli-webpack5/src/configs/piral.ts
  yarn.lock
Labels: bug, cli, webpack

#378 Enable static files from Blazor
  src/converters/piral-blazor/src/converter.ts
  src/converters/piral-blazor/src/create.ts
  src/converters/piral-blazor/src/types.ts
Labels: blazor, enhancement

#379 Release 0.13.2
  CHANGELOG.md
  src/converters/piral-blazor/src/converter.ts
  src/converters/piral-blazor/src/create.ts
  src/converters/piral-blazor/src/types.ts
  src/framework/piral-core/src/helpers.tsx
  src/tooling/piral-cli-webpack/package.json
  src/tooling/piral-cli-webpack/src/configs/SheetLoader.ts
  src/tooling/piral-cli-webpack/src/configs/SheetPlugin.ts
  src/tooling/piral-cli-webpack/src/configs/common.ts
  src/tooling/piral-cli-webpack/src/configs/pilet.ts
  src/tooling/piral-cli-webpack/src/configs/piral.ts
  src/tooling/piral-cli-webpack5/package.json
  src/tooling/piral-cli-webpack5/src/configs/SheetLoader.ts
  src/tooling/piral-cli-webpack5/src/configs/SheetPlugin.ts
  src/tooling/piral-cli-webpack5/src/configs/common.ts
  src/tooling/piral-cli-webpack5/src/configs/pilet.ts
  src/tooling/piral-cli-webpack5/src/configs/piral.ts
  src/tooling/piral-cli/src/common/http.ts
  yarn.lock
Labels: release
