Repository smapiot/piral, pull requests merged in 2022-10, with the labels that each got.

#550 Implemented bundler install request
  .github/workflows/size.yml
  jest.config.js
  src/tooling/piral-cli/src/apps/new-pilet.test.ts
  src/tooling/piral-cli/src/apps/new-piral.test.ts
  src/tooling/piral-cli/src/bundler.test.ts
  src/tooling/piral-cli/src/bundler.ts
  src/tooling/piral-cli/src/common/index.ts
  src/tooling/piral-cli/src/messages.ts
Labels: cli

#551 Feature/#546 add app name argument on new piral
  docs/commands/new-piral.md
  src/tooling/piral-cli/src/apps/new-piral.test.ts
  src/tooling/piral-cli/src/apps/new-piral.ts
  src/tooling/piral-cli/src/commands.ts
Labels: enhancement, cli

#552 Add functionality for extending the existing translations
  CHANGELOG.md
  src/plugins/piral-translate/README.md
  src/plugins/piral-translate/package.json
  src/plugins/piral-translate/src/create.test.ts
  src/plugins/piral-translate/src/create.ts
  src/plugins/piral-translate/src/types.ts
  yarn.lock
Labels: enhancement, plugin

#553 Implemented #547: Add name argument to Pilet new. Changed appName arg…
  docs/commands/new-pilet.md
  docs/commands/new-piral.md
  src/tooling/piral-cli/src/apps/new-pilet.test.ts
  src/tooling/piral-cli/src/apps/new-pilet.ts
  src/tooling/piral-cli/src/apps/new-piral.test.ts
  src/tooling/piral-cli/src/apps/new-piral.ts
  src/tooling/piral-cli/src/commands.ts
Labels: enhancement, cli

#555 Change Webpack Config File
  CHANGELOG.md
  src/framework/piral-core/src/defaults/navigator_v5.tsx
  src/framework/piral-core/src/defaults/navigator_v6.tsx
  src/framework/piral-core/src/tools/codegen.ts
  src/framework/piral-core/src/types/components.ts
  src/framework/piral-core/src/types/navigation.ts
  src/plugins/piral-breadcrumbs/src/actions.test.ts
  src/plugins/piral-breadcrumbs/src/actions.ts
  src/plugins/piral-breadcrumbs/src/create.test.ts
  src/plugins/piral-breadcrumbs/src/create.ts
  src/plugins/piral-breadcrumbs/src/types.ts
  src/tooling/piral-cli-webpack5/README.md
  src/tooling/piral-cli-webpack5/src/actions.ts
  src/tooling/piral-cli-webpack5/src/webpack/pilet.ts
  src/tooling/piral-cli-webpack5/src/webpack/piral.ts
  src/tooling/piral-cli/src/external/resolve.ts
Labels: enhancement, cli, webpack
