Repository smapiot/piral, pull requests merged in 2022-01, with the labels that each got.

#443 Release 0.14.6
  CHANGELOG.md
  docs/questions/pilets.md
  docs/reference/scaffolding.md
  docs/tutorials/02-getting-started.md
  src/converters/piral-ng/extend-webpack.js
  src/converters/piral-vue/src/extension.ts
  src/framework/piral-core/package.json
  src/framework/piral-core/src/modules/api.ts
  src/pages/common/styles/_footer.scss
  src/pages/docs/docs.config.json
  src/pages/docs/package.json
  src/pages/docs/src/SearchPage.tsx
  src/pages/docs/src/codegen/bundlers.js
  src/pages/docs/src/codegen/commands.js
  src/pages/docs/src/codegen/overview-page.js
  src/pages/docs/src/codegen/plugins.js
  src/pages/docs/src/styles.scss
  src/pages/www/src/style/site.scss
  src/templates/pilet-template-default/README.md
  src/templates/pilet-template-empty/README.md
  src/templates/piral-template-default/README.md
  src/templates/piral-template-empty/README.md
  src/tooling/piral-cli-webpack/extend-config.js
  src/tooling/piral-cli-webpack5/extend-config.js
  src/tooling/piral-cli/src/apps/debug-pilet.ts
  src/tooling/piral-cli/src/injectors/pilet.ts
  src/tooling/piral-cli/src/injectors/piral.ts
  yarn.lock
Labels: release

#445 "Welcome to Piral!" is on the right
  docs/tutorials/02-getting-started.md
Labels: bug, documentation

#446 Automatically open the browser to the configured url
  src/tooling/piral-cli/src/apps/debug-pilet.ts
  src/tooling/piral-cli/src/apps/debug-piral.ts
  src/tooling/piral-cli/src/apps/new-pilet.ts
  src/tooling/piral-cli/src/apps/new-piral.ts
  src/tooling/piral-cli/src/common/browser.ts
  src/tooling/piral-cli/src/common/config.ts
  src/tooling/piral-cli/src/injectors/pilet.ts
Labels: enhancement, cli

#450 Hooks initial
  src/tooling/piral-cli/src/commands.ts
Labels: enhancement, cli

#454 Debugging template in monorepo
  src/tooling/piral-cli/src/common/scaffold.ts
Labels: enhancement, cli

#460 Array externals
  src/tooling/piral-cli-webpack/package.json
  src/tooling/piral-cli-webpack5/src/enhancers/pilet-webpack-config-enhancer/helpers.ts
Labels: enhancement, cli, webpack

#468 Release 0.14.9
  CHANGELOG.md
  src/pages/docs/package.json
  src/pages/docs/src/codegen/bundlers.js
  src/pages/docs/src/codegen/overview-page.js
  src/pages/docs/src/styles.scss
  src/tooling/piral-cli-webpack/package.json
  src/tooling/piral-cli-webpack5/package.json
  src/tooling/piral-cli-webpack5/src/enhancers/pilet-webpack-config-enhancer/helpers.ts
  src/tooling/piral-cli-webpack5/src/webpack/bundler-run.ts
  src/tooling/piral-cli/package.json
  src/tooling/piral-cli/src/apps/build-piral.ts
  src/tooling/piral-cli/src/apps/debug-piral.ts
  src/tooling/piral-cli/src/common/index.ts
  src/tooling/piral-cli/src/common/info.ts
  src/tooling/piral-cli/src/common/io.ts
  src/tooling/piral-cli/src/common/npm.ts
  src/tooling/piral-cli/src/common/package.ts
  src/tooling/piral-cli/src/common/scaffold.ts
  src/tooling/piral-cli/src/common/url.test.ts
  src/tooling/piral-cli/src/common/url.ts
  src/tooling/piral-cli/src/injectors/pilet.ts
  src/tooling/piral-cli/src/injectors/piral.ts
  src/tooling/piral-cli/src/rules/index.ts
  yarn.lock
Labels: release
