Repository smapiot/piral, pull requests merged in 2023-11, with the labels that each got.

#642 fix: Exclude target from pack
  src/tooling/piral-cli/src/common/pack.ts
Labels: cli

#648 Enable nested translations
  src/plugins/piral-translate/src/create.test.ts
  src/plugins/piral-translate/src/create.ts
  src/plugins/piral-translate/src/flatten-translations.test.ts
  src/plugins/piral-translate/src/flatten-translations.ts
  src/plugins/piral-translate/src/localize.test.ts
  src/plugins/piral-translate/src/localize.ts
  src/plugins/piral-translate/src/types.ts
Labels: enhancement, plugin

#649 Docs: Rendering Breadcrumbs
  src/plugins/piral-breadcrumbs/README.md
Labels: documentation
